*{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
@keyframes myAnimation {
    from {background-color: darkblue;}
    to {background-color: purple;}
    
}
header{
    background-color: darkblue;
    animation-name: myAnimation;
    animation-duration: 10s;
    border-radius: 50px;
    height: 1300px;
}
h1{
    text-align: center;
}
h2,h4{
    text-align: center
    
}
main{
    text-align: center;
    background-color: darkgreen;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    height: 450px;
    padding: 100px;
}
footer{
    border-radius: 50px;
    background-color: magenta;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 780px;
    padding: 100px;
}
#slovakia2{
    height: 300px;
    border-radius: 25px;
}

a{
    padding: 10px;
    display: flex;
    align-items: center;
}
#blue{
    background-color: cyan;
    border-radius: 20px;
}
#pink{
    background-color: rgb(195, 0, 255);
    border-radius: 20px;;
}
#ziel{
    background-color: greenyellow;
    border-radius: 20px;
}

